<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sing.materialrefreshlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseTheme"
        android:supportsRtl="true">
        <activity
            android:name=".ScrollViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AutoRefreshActivity"/>
        <activity android:name=".LoadMoreActivity"/>
        <activity android:name=".SimpleActivity"/>
        <activity android:name=".WaveActivity"/>
    </application>

</manifest>