<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sing.materialrefreshlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseTheme"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActSimple1"/>
        <activity android:name=".ActSimple2"/>
        <activity android:name=".ActSimple3"/>
        <activity android:name=".ActSimple4"/>
        <activity android:name=".ActSimple5"/>
        <activity android:name=".ActSimple6"/>
        <activity android:name=".ActSimple7"/>
    </application>

</manifest>